.action_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action_menu-title {
  color: var(--color-text-dark);
  font-size: var(--font-size-heading-large);
  font-weight: var(--font-weight-bold-700);
  line-height: var(--line-height-heading);
  letter-spacing: var(--letter-spacing-small);
}

.action_menu-total {
  color: var(--color-text-gray);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium-500);
  line-height: var(--line-height-variant);
  letter-spacing: var(--letter-spacing-small-x);
}

.action_menu-filter {
  display: flex;
  align-items: center;
}

.action_menu-filter_text {
  margin-right: 1rem;
  color: var(--color-text-dark);
  font-weight: var(--font-weight-bold-700);
  line-height: var(--line-height-heading);
  letter-spacing: var(--letter-spacing-small);
}

.action_menu-checkbox_menu:hover {
  cursor: pointer;
}

.action_menu-button {
  color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--color-purple);
  margin-left: 3rem;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  padding: 0 1rem 0 0.5rem;
}

.action_menu-button:hover {
  cursor: pointer;
  background-color: var(--color-purple-light);
}

.action_menu-plus {
  background-color: white;
  padding: 0.6rem;
  border-radius: 1.5rem;
}

.action_menu-new {
  margin-top: 0.2rem;
}

.action_menu-checkbox_menu {
  display: flex;
  align-items: center;
}

.action_menu-checkbox_options {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  top: 5rem;
  margin-left: -2rem;
  width: 12rem;
  padding: 1rem;
}

.action_menu-filter_item {
  display: flex;
  gap: 0.8rem;
}

.action_menu-status_text {
  position: relative;
  top: 0.15rem;
  color: var(--color-text-dark);
  font-weight: var(--font-weight-bold-700);
  line-height: var(--line-height-heading);
  letter-spacing: var(--letter-spacing-small);
}

.action_menu-filter_item:hover .action_menu-status-text:hover {
  cursor: pointer;
}
