.invoice-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.invoice-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 4.5rem;
}

.invoice-item:hover {
  border: 1px solid var(--color-purple);
  cursor: pointer;
}

.invoice-item #id {
  min-width: 6rem;
}

.invoice-item #id span {
  color: var(--color-light-blue);
}

.invoice-item #date {
  color: var(--color-light-blue);
  min-width: 7rem;
}

.invoice-item #clientName {
  color: var(--color-light-blue);
  min-width: 7rem;
}

.invoice-item #total {
  color: var(--color-text-dark);
  text-align: right;
  min-width: 7rem;
}

.invoice-item .status {
  width: 7rem;
  background-color: bisque;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.4rem;
}

.invoice-item .paid {
  color: #33d69f;
  background-color: #33d69f12; /* '09' controls opacity */
}

.invoice-item .pending {
  color: #ff8f00;
  background-color: #ff8f0012; /* '09' controls opacity */
}

.invoice-item .draft {
  color: #373b53;
  background-color: #373b5312; /* '09' controls opacity */
}

.invoice-empty-image {
  margin-top: 2rem;
  width: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.invoice-empty-image img {
  width: 60%;
}

.invoice-empty-image h2 {
  color: var(--color-text-dark);
  margin-top: 2rem;
}

.invoice-empty-image p {
  color: var(--color-text-gray);
  width: 50%;
  text-align: center;
}
