.invoice_view-section {
  display: flex;
  gap: 3rem;
}

.invoice_view-back {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  width: fit-content;
  padding: 0.5rem 0;
}

.invoice_view-back:hover {
  cursor: pointer;
}

.invoice_view-back span {
  color: var(--color-text-dark);
  font-size: var(--font-size-heading-small);
  font-weight: var(--font-weight-bold-700);
  letter-spacing: var(--letter-spacing-small);
  line-height: var(--line-height-variant);
  margin-left: 2rem;
}

.invoice_view-back span:hover {
  cursor: pointer;
  color: var(--color-light-blue);
}

.invoice_view-back svg {
  margin-bottom: 3px;
}

.invoice_view-actions {
  display: flex;
  justify-content: space-between;
  background-color: red;
}

.invoice_view-actions_left {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}

.invoice_view-actions_right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 2rem;
}

#invoice-status-label {
  color: var(--color-text-gray);
}

#invoice-edit {
  background-color: var(--color-background-light);
  color: var(--color-light-blue);
}

#invoice-delete {
  background-color: var(--color-orange-dark);
  color: var(--color-background-light);
}

#invoice-mark-as-paid {
  background-color: var(--color-purple);
  color: var(--color-background-light);
}
